* {
    padding: 0px;
    margin: 0px;
    font-family: cursive;
    box-sizing: border-box;
}

.container {
    box-shadow: 0px 0px 10px rgb(223, 44, 44);
    width: 40%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px;
}

#pic {
    position: absolute;
    height: 100%;
    width: 100%;
}

.btn {
    z-index: 1;
    border: 0px;
    color: white;
    background-color: darkcyan;
    padding: 10px 15px;
    font-size: 17px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px black;
}

.btn:hover {
    color: black;
    background-color: rgb(238, 217, 217);
}